{% extends "base_generic.html" %}
<li><a href="{% url 'index' %}">Home</a></li>
{% block content %}
<h1>Scheduler</h1>

  <p>Welcome to <em>Scheduler</em>, a very basic Django website developed as a tutorial example on the Mozilla Developer Network.</p>

<h2>Dynamic content</h2>

  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Persons:</strong> {{ num_persons }}</li>
  </ul>



<!-- Add additional CSS in static file --> 
{% load static %} 
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}