
<header class="w3-container w3-blue w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">ATHENA</h1>
  <p class="w3-xlarge">The Places You'll Go</p>
    
      <mat-card-content>
        <button class="w3-button w3-pink w3-padding-large w3-large w3-margin-top" mat-raised-button (click)="openDialog()">Get Started</button>
       <!-- <strong>Result: {{dialogResult}}</strong>-->

      </mat-card-content>

    
</header>


<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Start Your Journey</h1>
      <h5 class="w3-padding-32"> Athena empowers students to reach for the stars. Every student deserves to start the most important part of thier lives with peace of mind.
        With Athena make a plan for your future by, finding the right classes for your major, find free money though easy to browse scholarships, and line up your classes so you can get 
        to the school of your choice. 
        </h5>

      <p class="w3-text-grey"> Currently Athena supports prospective students of De Anza and Foothill college, and current students whom are looking to organize their educational goals.</p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-graduation-cap w3-padding-64 w3-text-green"></i>
    </div>
  </div>
</div>

<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-child w3-padding-64 w3-text-blue w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Gamify School</h1>
      <h5 class="w3-padding-32">This is sample text and I am not sure what to put here yet.</h5>

      <p class="w3-text-grey">Beat school at is own game. Take School into you own hands, get the skills you need and get out.</p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Lets get connected</h1>
</div>


