<!--
<button mat-button (click)="fetchUsers()">Fetch Users</button>
<hr>
<ul>
    <li *ngFor="let usr of users$ | async">{{ usr.username }} </li>
</ul>
-->
<mat-toolbar color="primary"> 
        <mat-toolbar-row>
        <button mat-button>
            <mat-icon>home</mat-icon>
        </button>

      <span class="example-spacer"></span>
    
       <button mat-button>About</button>
       <button mat-button (click)="openProfile()">Planner</button>
       <button mat-button (click)="openDialog()">Login</button>
    </mat-toolbar-row>
    </mat-toolbar>
<router-outlet></router-outlet>

